@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

.block-name {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.block-name::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #fb3e3e;
    margin: 20px auto;
}

.block-line {
    background: #fb3e3e;
    height: 1px;
    width: 50px;
    margin: 30px auto;
}

.block-text {
    color: #a8aeb4;
    text-align: center;
    width: 65%;
    margin: 0 auto 60px;
}

.header {
    width: 100%;
    background: transparent;
    padding: 20px 50px;
    transition: .5s;
    position: fixed;
    top: 0; 
    z-index: 10;
}

.navbar {
    color: white;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 5px 15px 0;
    height: auto;
}

.toggle-block {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.navbar-toggle {

}

.logo-site {
    font-weight: bold;
    font-size: 20px;
    color: white !important;
    line-height: 35px;
    letter-spacing: 2px;
}

.header ul {
    float: left;
    margin-bottom: 0;
}

.header  li {
    list-style: none;
    float: left;
    padding: 10px 20px;
    color: #afafaf;
    }

.header a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #afafaf;

}

.header a:hover,
.header .active a {
    color: white;
}

.header .btn-try-it {
    justify-content: flex-end;
    padding: 10px 20px;
    border-radius: 22px;
    border: 0;
    color: white;
    background: #fb3e3e;
    transition: 0.3s;
    position: relative;
    bottom: 0;
}
.header .btn-try-it:hover {
    background: #6b050f;
    bottom: 3px;
}


.hero-block {
    position: relative;
    padding-top: 120px;
    background: linear-gradient(to right, rgba(120,0,220,.8), rgba(120,150,250,.8)), url(../img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

.hero-block h1 {
    font-size: 50px;
    text-align: center;
}

.hero-block img {
    width: 100%;
}

.btn {
    padding: 10px 20px;
    background: #fb3e3e;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    transition: .3s;
}

.btn:hover {
    text-decoration: none;
    background: #850161;
    color: white;
    outline: none;
    bottom: 7px;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 10px; 
}

.content-item__name {
    font-size: 20px;
    margin-bottom: 20px; 
}

.content-item__text {
    color: #a8aeb4;
}

.content-item i {
    color: #fb3e3e;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    margin: 20px;
    transition: .5s;
}

.content-item:hover i {
    background: #fb3e3e;
    color: #ffffff;
    box-shadow: none;
}

.digital {
    padding: 50px 0;
    background: #efefef;
}

.digital .digital__name {
    font-size: 26px;
    margin-bottom: 20px;
}

.digital__text {
    color: #a8aeb4 !important;
    font-size: 15px;
}

.digital__text ul {
    margin: 40px 0;
    padding: 0;
}

.digital__text ul li {
    list-style: none;
    line-height: 35px;
}

.digital__text ul li::before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    background: #fb3e3e;
    margin: 2px 10px 2px 0;
}

.digital__image {
    background: url(..//img/online-world.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.background {
    padding: 80px 0 150px;
    background: linear-gradient(to right, rgba(120,0,220,.8), rgba(120,150,250,.8)), url(../img/hero-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.background__block-name {
    font-size: 34px;
    font-weight: 500;
}

.background__block-text {
    width: 50%;
    text-align: center;
    margin: 20px auto 30px;
}

.background-pattern {
    background: url(../img/bg-pattern.png);
    background-repeat: no-repeat;
	background-size: cover;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-white {
    background-color: white;
    color: #000;
}

.btn-white:hover {
    background-color: white;
    color: #000;
}

.pricing-item {
    margin-top: 50px;
    text-align: center;
    padding: 50px 20px;
    box-shadow: #ddd 0 0 15px;
    position: relative;
    bottom: 0;
    transition: .3s;
}

.pricing-item:hover {
    bottom: 15px;
}

.pricing-item__name {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.pricing-item .price {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.pricing-item .price-desc {
    font-size: 12px;
    color: #a8aeb4;
    text-transform: uppercase;
}

.pricing-item .price-desc::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 1px;
    background: #eee;
}

.pricing-item .pricing-item__text {
    line-height: 50px;
    margin-bottom: 30px;
}

.pricing-item__text .accent {
    color: #fb3e3e;
    font-weight: 600;
}

.behind {
    margin-top: 100px;
}

.behind-item {
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.behind-item img {
    width: 100%;
    margin-bottom: 20px;
}

.behind-item__name {
    font-size: 18px;
}

.behind-item__text {
    color: #afafaf;
    text-transform: uppercase;
    font-size: 12px;
}

.blog {
    padding-bottom: 50px;
}

.blog-item {
    margin: 50px 0;
    position: relative;
    bottom: 0;
    transition: .3s;
}

.blog-item:hover {
    bottom: 15px;
}

.blog-item img {
    width: 100%;
}

.blog-item .blog-item__topic {
    color: #a8aeb4;
    font-weight: 500;
    margin-top: 20px;
}

.blog-item .blog-item__name {
    font-weight: 500;
    font-size: 20px;
}

.blog-item .blog-item__text {
    color: #a8aeb4;
    font-weight: 400;
}

.blog-item a {
    color: #fb3e3e;
}

.blog-item a:hover {
    color: #000;
    text-decoration: none;
}

.get-in-touch {
    padding-bottom: 100px; 
}

.address-block {
    margin-bottom: 20px;
}

.address-name {
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 0;
}

.address-text {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 0;
    color: #a8aeb4;
}

.form-input {
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    border: #eaeaea solid 1px;
    width: 100%;
    margin-bottom: 30px;
}

.form-message {
    margin-bottom: 20px;
}

.contact {
    background: #eaeaea;
    padding: 30px 0;

}

.contact a  {
    color: inherit;
    text-decoration-color: none;
}

.contact i {
	
}

.contact .contact__icons i {
    width: 50px;
    height: 50px;
    color: #a8aeb4;
    border: #a8aeb4 solid 3px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    transition: .3s;
}

.contact .contact__icons i:hover {
    color: #fb3e3e;
}

.contact .contact__phone i, .contact .contact__envelope i {
    font-size: 20px;
    margin-right: 10px;
}

footer {
    background: #333;
    padding-top: 60px;
    padding-bottom: 80px; 
    color:#afafaf;
}

footer .footer__list {
	text-align: left;
}

footer h3 {
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    line-height: 30px;
}

footer a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    text-decoration: none;
    color: white;
}


footer .footer-form-control {
    background: #3a3a3a;
    border: 0;
    color: white;
}

footer .footer-form-control:focus {
    background: #3a3a3a;
    box-shadow: none;
    color: white;
}

footer .footer-form-text {
    background: #3a3a3a;
    border: 0;
    color: #a8aeb4;
}

.footer-down {
    background: #3a3a3a;
    padding: 5px 0;
    color: #a8aeb4;
}

.footer-down__text {
    line-height: 60px;
    font-size: 16px;
}

.footer-down .footer-payment {
    font-size: 40px;
    border-radius: 50%;
}


@media screen and (max-width: 425px) {
    .menu {
        display: none;
    }
	
    .header li { 
        text-align: center;
		clear: both;
    }
	
	.header ul {
		clear: both;
		text-align: center;
	}


    .toggle-block {
        display: flex;
    }
	
	.navbar-toggle {
        display: block;
    }
	
	.hero-block {
		padding-bottom: 25px;
	}

    #hero-block-img {
        display: none;
    }

    .digital__image {
        display: none;
    }

    .contact__icons, .contact__envelope, .contact__phone {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
	
	
	footer .footer__subscribe {
		max-width: 255px;
		margin: 0 auto;
	}

	footer .footer__list {
		text-align: center;
	}

    footer h3 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.header {
		background: #272a33;
	}
	
	.navbar-toggle {
		display: block;
	}
	
    .digital__image {
        display: none;
    }

    .menu {
        display: none;
    }

    .header li {
        text-align: center;
        clear: both;
    }
	
	.header ul {
		clear: both;
		text-align: center;
	}
    
    .toggle-block {
        display: flex;
    }

    .contact__icons, .contact__envelope, .contact__phone {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
	
	footer .footer__list {
		text-align: center;
	}
	
	
	footer .footer__subscribe {
		max-width: 255px;
		margin: 0 auto;
	}
	
    footer h3 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .contact__icons, .contact__envelope, .contact__phone {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    footer h3 {
        margin-top: 20px;
    }
}
